page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;

  .app {
    width: 100%;
    height: 100%;
    padding-top: 13px;

    .ad {
      width: 100%;
      height: 140px;
      display: flex;
      justify-content: center;
      position: relative;

      image {
        position: absolute;
        width: 90%;
        height: 100%;
        border-radius: 15px;
      }

      view {
        position: absolute;
        color: white;
      }

      .title {
        font-size: 14px;
        font-family: SourceHanSansSC-regular;
        top: 27px;
        left: 42px;
      }

      .info {
        width: 128px;
        left: 42px;
        top: 60px;
        font-size: 10px;
        line-height: 12px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        view {
          position: relative;
        }
      }

      .btn {
        color: white;
        position: absolute;
        background-color: transparent;
        display: block;
        width: 58px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        left: 42px;
        top: 96px;
        border: 1px white solid;
        border-radius: 50px;
        text-align: center;
        font-family: Arial-regular;
      }
    }

    .nav_bar {
      height: 66px;
      width: calc(100% - 40px);
      margin-top: 20px;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;

      view:nth-child(1) {
        :first-child {
          .icon {
            background-color: #F6B059;
          }
        }
      }

      view:nth-child(2) {
        :first-child {
          .icon {
            background-color: #8F6AFF;
          }
        }
      }

      view:nth-child(3) {
        :first-child {
          .icon {
            background-color: #EC1E71;
          }
        }
      }

      view:nth-child(4) {
        :first-child {
          .icon {
            background-color: #03E391;
          }
        }
      }

      view:nth-child(5) {
        :first-child {
          .icon {
            background-color: #1E9DFF;
          }
        }
      }

      .bar_ul {
        height: 100%;
        width: 50px;
        flex: 1;

        navigator {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .icon {
            width: 36px;
            height: 36px;
            background-color: brown;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            image {
              width: 20px;
              height: 20px;
            }
          }

          .title {
            font-size: 12px;
          }
        }
      }
    }
  }
}